.well
  %h2 關於本站
  %ul
    %li
      這個應用程式是照著
      %a{:href => "https://mackenziechild.me/12-in-12/1/"} Week 1: How To Build A Reddit Clone With Rails 4
      這個教學影片一步步完成的
    %li
      程式碼網址:
      %a{:href => "https://github.com/coopermaa/raddit"} https://github.com/coopermaa/raddit
    %li 程式若有 Bug，歡迎送 Pull Request
