- @links.each do |link|
  .link.row
    %h2
      =link_to link.title, link
      %br
      %small= "Submitted #{ time_ago_in_words(link.created_at) } by #{link.owner.name}"

    .btn-group
      %a.btn.btn-primary.btn-sm{ "href": link.url } Visit Link
